$grid: 30px;
$base-transition-style: cubic-bezier(0.660, 0.000, 0.070, 1.000);
$transition-time: 300ms;
$font-family-basic: 'PT Serif', serif;;

$size-xlarge:         1200px;
$size-large:         1024px;
$size-medium:         768px;
$size-xsmall:         520px;
$size-small:         375px;

$color-grey: #757575;
$grey-box-shadow: #7A7C78;
$grey-dark-box-shadow: #6F7571;
$light-box-shadow: #C1C1BC;

$background-grey: #9D9C98;

$grid: 20px;
$padding-large: 30px;
